<!--
// ©2016-2017 salesforce.com, inc. All rights reserved.
-->

<resources>
    <string name="appname" context="home.icon">Endless Aisle</string>
    <string name="NSCameraUsageDescription" context="dialog.msg">Darf Endless Aisle die Kamera benutzen, um den Barcode zu scannen?</string>
</resources>
